@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
/* A Modern CSS Reset from Andy */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-family: "Outfit", sans-serif;
}

body {
  background-color: #0d192b;
}

main {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  padding: 1em;
}

.link {
  width: fit-content;
  text-decoration: none;
  color: white;
}
.link:hover {
  color: #00fff7;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: clamp(18.75em, 90%, 21em);
  padding: 1.5em;
  background-color: #14253d;
  border-radius: 1em;
}
.card__display {
  border-radius: 0.5em;
}
.card__display_hover {
  position: relative;
}
.card__display_hover::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background: url(../images/icon-view.svg) no-repeat center rgba(0, 255, 247, 0.4);
  border-radius: 0.5em;
  opacity: 0;
  transition: opacity 250ms ease;
}
.card__display_hover:hover::after {
  opacity: 1;
}
.card__info-wrap {
  padding-block: 1.25em 0.75em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-bottom: 1px solid rgba(139, 172, 218, 0.5);
}
.card__title {
  font-size: 1.5rem;
  line-height: 1;
}
.card__text {
  color: #8bacda;
  font-size: 1rem;
  font-weight: 300;
}
.card__details {
  display: flex;
  justify-content: space-between;
}
.card__details > section {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.card__price-text {
  color: #00fff7;
}
.card__created-by {
  display: flex;
  align-items: center;
  padding-top: 1em;
  gap: 1em;
}
.card__created-by .link {
  flex-basis: 12.5%;
}
.card__creator-avatar {
  border: 1px solid rgba(255, 255, 255, 0.85);
  border-radius: 50%;
}
.card__creator-info > .card__text a {
  opacity: 0.95;
}

/*# sourceMappingURL=style.css.map */
